<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8">
  </head>
  <body>
      <h1>Create Recipe</h1>
      <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="recipe.html">Add recipes</a></li>
            <li><a href="searchrecipe.html">Search for recipes</a></li>
          </ul> 
        </nav>
    <main class="addRecipe">
      <form>
          <label for="recipeName">Recipe name:</label>
          <input v-model="recipeName" id="recipeName" type="text" placeholder="Recipe name">
          <label for="description">Description:</label>
          <textarea v-model ="description" id="description" cols="35" wrap="soft"></textarea>
          <label for="image">Image:</label>
          <input v-model="image" id="image" type="text" placeholder="Url to image">
          <label for="numberOfPerson">Number of servings:</label>
          <input v-model="numberOfPerson" id="numberOfPerson" type="text" placeholder="Number of servings">
          <label for="category">category:</label>
          <!-- <input v-model="category" id="category" type="text" placeholder="Category"> -->
          <select v-model="category">
              <option disabled value="">Please select one</option>
              <option>Meat</option>
              <option>Desert</option>
              <option>Fruit</option>
              <option>Vegetarian</option>
              <option>Pizza</option>
            </select>
            <span>Selected: {{ category }}</span>
         
            <br><label for="ingredientname">Ingredients:</label>
            <input v-on:keyup="autocomplete" v-model="ingredientname" id="text" type="application/json" placeholder="ingredients">
            <ul>
                <li v-for="get in sameName" v-on:click="option">
                    {{get}}
                </li>
            </ul>
            <label for="amount">Amount:</label>
            <input v-model="amount" id="amount" type="text" placeholder="Amount">
            <label for="unit">kg:</label>
            <input v-model="unit" id="unit" type="radio" value="kg" placeholder="Unit">
            <label for="unit">hg:</label>
            <input v-model="unit" id="unit" type="radio" value="hg" placeholder="Unit">
            <label for="unit">dl:</label>
            <input v-model="unit" id="unit" type="radio" value="dl" placeholder="Unit">
            <label for="unit">st</label>
            <input v-model="unit" id="unit" type="radio" value="st" placeholder="Unit">
            <label for="unit">msk:</label>
            <input v-model="unit" id="unit" type="radio" value="msk" placeholder="Unit">
            <label for="unit">gram:</label>
            <input v-model="unit" id="unit" type="radio" value="gram" placeholder="Unit"><br>
            <label for="unit">gram:</label>
            <input v-model="gram" id="gram" type="text" value="gram" placeholder="gram">
            <input v-on:click="addToArray" type="submit" value="Add ingredient">
            <input v-on:click="saveRecipe" type="submit" method="POST" value="Save recipe">
      </form>
      <div>
          <p v-for='get in ingredients'>
              <br>
             <template v-for='element in get'  v-if="element!=''&& element!=null">
               {{element}}
            </template>
            </p>
      </div>
    </main>
         
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>