<!DOCTYPE html>
<html>
  <head>
    <title>Titel</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="main.js"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Search</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="recipe.html">Add recipes</a></li>
        <li><a href="searchrecipe.html">Search for recipes</a></li>
      </ul>
      
    </nav>
    <main class="searchonrecipe">
      <div>
        <input v-on:keyup="searchfunction" v-model="search" placeholder="search" type="text">
        <select v-model="csearch" v-on:click="categorysearch">
            <option disabled value="">Please select one</option>
            <option>Meat</option>
            <option>Desert</option>
            <option>Fruit</option>
            <option>Vegetarian</option>
            <option>Pizza</option>
          </select>
          <span>Selected: {{ category }}</span>
        



        <ul>
        <li v-if="nameBoolean===true" v-for="get in receptlist" v-on:click="redirect(get)">
            {{get.recipeName}}
        </li>
        </ul>
        <div v-if="boolean===true">
        <input v-on:keyup="recalc" v-model="portions" type="text" id="portions" placeholder="Number of portions">
        <p name="recept"><b>Recipe name:</b>{{recept}}</p>
        <p name="desc"><b>Description:</b>{{desc}}</p>
        <img v-bind:src="image" />
       
        <p name="category"><b>Category</b>{{category}}</p>
        <p name="person"><b>Number of Persons:</b>{{person}}</p>
        <p name="ingredients"><b>Ingredients</b></p>
        <ul>
          <p v-for='get in ingredients'>
            <br>
           <template v-for='(element,index) in get' v-if=" index < 3">
             {{index === 1 && !(element.trim()) ? get[3] : element}}
          </template>
          </p>
         </ul>
        <!-- <p v-for="get in ingredients" name="ingredients"><b>Ingredients:</b>{{get || !null || !undefined}}</p> -->
        <p name="kcal"><b>kcal per person:</b>{{kcal}}</p>
        <p name="protein"><b>Protein per person:</b>{{protein}}</p>
        <p name="kolhydrat"><b>kolhydrat per person:</b>{{kolhydrat}}</p>

      </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/searchrecipe.js"></script>
  </body>
</html>